.About {
    text-align: center;
    margin: auto;
    width: "40%";
    margin-left: 100px;
    margin-right: 100px;

}

h1 {
    color: #05386B;
    font-size: 25px;
    font-family: "Helvetica-Bold"
}

h3 {
    font-size: 20px;
    font-family: "Helvetica";
    
}